<!DOCTYPE html>
<html>
    <body class="body">
        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>Warenkorb</title>
        
         
            <!-- Vue.js -->
            <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
         
            <!-- Bootstrap -->
            <link rel="stylesheet" type="text/css" href="shopping_cart.css">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
         
        </head>
        <body>
        <div id="app" class="container" style="width: 500px; margin-top: 20px;">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Produkt</th>
                        <th>Volumen</th>
                        <th>Größe</th>
                        <th>Nachbearbeitungsmöglichkeit</th>
                        <th>Material</th>
                        <th>Anzahl</th>
                        <th>Einzelpreis</th>
                        <th>Gesamtpreis</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, index) in warenkorb">
                        <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-image" viewBox="0 0 16 16">
                            <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                            <path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z"/>
                          </svg>{{ item.name }}</td>
                          
                        <td> {{ item.volumen }} </td>
                        
                        <td>    Breite: {{item.xsize}}
                            Höhe: {{item.ysize}}
                            Tiefe: {{item.zsize}} </td>
                          <td>
                            <select name="Nachbearbeitungsmöglichkeit" id="dropdown">
                              <option onclick= "setNachbearbeitung('keine')">Nichts Ausgewählt</option>
                              <option onclick= "setNachbearbeitung('glas')">Glasperlenstrahlen</option>
                            </select>
                        </td>
                        <td>
                            <select name="Material" id="dropdown">
                              <option onclick="setpreis('asa')">ASA</option>
                              <option onclick="setpreis('abs')">ABS ESD</option>
                              <option onclick="setpreis('pa')">PA2200</option>
                              <option onclick="setpreis('ar')">AR-M2</option>
                            </select>
                        </td>
                        <td><input type="number" min="0"  step="1" class="form-control" v-model="item.menge"></td>
                        <td class="text-right">{{ item.preis.toLocaleString('de-DE', {minimumFractionDigits: 2}) }}</td>
                        <td class="text-right">{{ (item.menge * item.preis).toLocaleString('de-DE', {minimumFractionDigits: 2}) }}</td>
                        <td><button class="button_delete" @click="deleteItem(index)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-x" viewBox="0 0 16 16">
                            <path d="M7.354 5.646a.5.5 0 1 0-.708.708L7.793 7.5 6.646 8.646a.5.5 0 1 0 .708.708L8.5 8.207l1.146 1.147a.5.5 0 0 0 .708-.708L9.207 7.5l1.147-1.146a.5.5 0 0 0-.708-.708L8.5 6.793 7.354 5.646z"/>
                            <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                          </svg></button></td>
                    </tr>
                    <tr>
                       <th colspan="6">
                        <a class="button_plus" href="index.html"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                            <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"/>
                          </svg></a>
                       </th>
                    </tr>
                    <tr>
                        <th colspan="3">Gesamtpreis (Brutto)</th>
                        <td class="text-right">{{ gesamtpreis.toLocaleString('de-DE',{minimumFractionDigits: 2}) }}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="button_bottom">
            <button class="button_back" href="index.html"><</button>
            <button class="button_forward">></button>
        </div>
         <!-- Hier an die Stelle von "volumen, xsize, ysize, zsize, preis" dentsprechenden Werte der DB einspielen. -->
        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    warenkorb: [
                        {name: 'Auxiliary_1.stl', volumen: 0, xsize: 0, ysize: 0, zsize: 0, menge: 1, preis: 19.20},
                        {name: 'Furniture_black.stl', volumen: 0, xsize: 0, ysize: 0, zsize: 0, menge: 1, preis: 14.99},
                        {name: 'Lamp_bright.stl', volumen: 0, xsize: 0, ysize: 0, zsize: 0, menge: 1, preis: 49.99},
                        ]
                },
                computed: {
                    gesamtpreis: function() {
                        return this.warenkorb.reduce((acc, curr) => acc + curr.menge*curr.preis, 0);
                    }
                },
                methods: {
                    deleteItem(index) {
                        this.warenkorb.splice(index, 1);
                    }
                }
         
            })
        </script>
         
        </body>
        </html>
    </body>
</html>