.root{
    --background-color: #f5f5f5;
    --tq-blue: #00a7e5;
    --tq-grey1: #dadde2;
}

.body{
    background-image: url('Mockup_3.png');
}

.title{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    border: gray;
    width:100%;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto}
    @media (min-width:576px){.container{max-width:540px}}
    @media (min-width:768px){.container{max-width:720px}}
    @media (min-width:992px){.container{max-width:960px}}
    @media (min-width:1200px){.container{max-width:1140px}
    
}

.table{
    position: relative;
    right: 25em;
    top: 33em;

}

.table-bordered{
    border:1px solid #dee2e6;
    background-color: #dadde2;
}

.button_plus{
    position: relative;
    border: transparent;
    background-color: transparent;
    left: 50em;
}

.button_delete{
    border: transparent;
    background-color: transparent;
}

.button_bottom{
    position: absolute;
    bottom: 4em;
}

.button_forward{
    position: absolute; 
    left: 70em;
    border: transparent;
    background-color: transparent;
}

.button_back{
    position: absolute; 
    left: 22em;
    border: transparent;
    background-color: transparent;
}


