:root{
    --background-color: #f5f5f5;
    --tq-blue: #00a7e5;
    --tq-grey1: #dadde2;
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: var(--background-color);
  }
  
  .navbar {
    background: white;
    padding: 1em;

    .logo {
        text-decoration: none; 
        font-weight: none;
        color: black; 
        font-size: 2em; 
    }

    .container {
        display: flex; 
        place-content: space-between;
    }
  }

  a {
    color: #444444;
  }

  #stl-container{
    width: 40em;
    height: 20em;
    margin: 0 auto;
    border: solid 1px black;
    margin-bottom: 30px;
  }
  