<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Warenkorb</title>
            <!-- Vue importieren. (Webframework mit diversen Funktionen)-->
            <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
            <!-- Axios importieren (HTTP-Client, der mit in Kombination mit Vue u.a. Asynchronität ermöglicht) -->
            <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
         
            <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
            <!-- Bootstrap importieren (CSS-Tool für verschiedene Design-Optionen) -->
            <link rel="stylesheet" type="text/css" href="shopping_cart.css">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

            <!-- Einbindung von Ionicons (Beinhaltet diverse Icons)-->
            <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
            <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

            <!-- Eigenes Css-Stylesheet einbinden -->
            <link rel="stylesheet" type="text/css" href="assets/css/custom.css">
            <!-- Diverse JS-Datenbanken importieren, die ersten drei zur 3D-Modell-Anzeige -->
            <script src="viewer.min.js"></script>     
            <script src="assets/js/jquery-3.6.0.min.js"></script>
            <script src="assets/js/popper.min.js"></script>
            <script src="assets/js/bootstrap.js"></script>
        </head>
        <body class="body">
            <div id="app" class="container-fluid">
                
                <!-- Initialisieren der Basis der ersten Seite (Modell-Upload und Anzeige) -->
                <template v-if="!toCart">
                    <!-- Laden der 3D-Modelle -->
                    <template v-if="loadingModels">
                        <div class="lds-spinner">
                            <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
                        </div>
                    </template>
                    <!-- Container, in die die Modelle geladen werden -->
                    <div class="mt-3">
                        <div class="row mb-3">
                            <!-- Knopf, der Hochladen auslöst -->
                            <div class="offset-1 col-10">
                                <div class="btn btn-outline-secondary">
                                    <input id="btn-upload" hidden type="file"  v-on:change='uploadMultiFiles($event)' accept=".stl" class="FileUpload" multiple></input>
                                    <label for="btn-upload">Datei Hochladen</label>
                                </div>
                            </div>
                        </div>
                        <!-- Tatsächlicher Container, der 3D-Modell und Daten enthält -->
                        <div v-for="(product, index) in products" class="row mb-3">
                            <div class="offset-1 col-10 border border-secondary rounded p-2">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="row">
                                            <!-- Anzeige des 3D-Modells -->
                                            <div class="col-10" >
                                                <div class="model-view-container" v-html="product._3dModel"></div>
                                            </div>
                                        </div>
                                        <!-- Anzeige der Modell-Eigenschaften (Name, Größe, Volumen) -->
                                        <div class="row">
                                            <div class="col-10">{{product.file_name}}</div>
                                            <div class="col-10"> {{product.xsize}} x {{product.ysize}} x {{product.zsize}} cm</div>
                                            <div class="col-10"> {{product.volumen}} cm3</div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="row">
                                            <!-- Dropdown-Menü zur Auswahl der Materialien -->
                                            <div class="col-8">
                                                <label>Material:</label>
                                                <select  class="custom-select mr-sm-2" v-on:change="onMaterialChange(index, $event)">
                                                    <option :selected="!product.material" value="">Nichts Ausgewählt</option>
                                                    <option v-for="material of materials" :selected="product.material == material.value" v-bind:value="material.value" :data-price="material.price" >{{material.name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- Dropdown-Menü zur Auswahl der Nachbearbeitungen -->
                                        <div class="row mt-3">
                                            <div class="col-8">
                                                <label>Nachbearbeitung:</label>
                                                <select :disabled="!product.material" class="custom-select mr-sm-2" v-on:change="onPostProcessChange(index, $event)">
                                                    <option :selected="!product.post_process" value="" >Nichts Ausgewählt</option>
                                                    <option v-for="post_process of product.post_processing_list" :selected="product.post_process == post_process.value" v-bind:value="post_process.value">{{post_process.name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- Auswahl der Anzahl des Produktes -->
                                        <div class="row mt-3">
                                            <div class="col-8">
                                                <label>Stückzahl:</label>
                                                <input class="form-control" type="number" step="1" min="1" value="1" v-model="product.menge">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="d-flex flex-column justify-content-end align-items-end pr-2" style="height: 100%;">
                                            <!-- Anzeige des Gesamtpreises -->
                                            <div>{{product.preis ? (product.preis * product.menge).toFixed(2) + ' €': '-.-'}}</div>
                                            <!-- Anzeige des Stückpreises -->
                                            <div>{{product.preis ? (product.preis).toFixed(2) + ' € ': '-.-'}}/Stk</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Container, der die Buttons für Aktionen enthält -->
                                <div class="row actions mt-4">
                                    <div class="col-3">
                                        <!-- Knopf zum Löschen eines Objektes -->
                                        <div class="btn btn-outline-primary pl-4 pr-4" v-on:click="removeProduct(index)">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-x" viewBox="0 0 16 16">
                                                <path d="M7.354 5.646a.5.5 0 1 0-.708.708L7.793 7.5 6.646 8.646a.5.5 0 1 0 .708.708L8.5 8.207l1.146 1.147a.5.5 0 0 0 .708-.708L9.207 7.5l1.147-1.146a.5.5 0 0 0-.708-.708L8.5 6.793 7.354 5.646z"/>
                                                <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                            </svg>
                                        </div>
                                    </div>
                                    <!-- Kopie Button -->
                                    <div class="col-3">
                                        <div class="btn btn-outline-primary" v-on:click="cloneProduct(product)">Kopieren</div>
                                    </div>
                                    <!-- Additional Action -->
                                    <div class="col-3">
                                        <div class="btn btn-outline-primary">Aktion-2</div>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <!-- Drag & Drop-Zone -->
                        <div class="row mb-3">
                            <div class=" dropZoneContainer offset-1 col-10 pt-4 pb-5 border border-secondary rounded p-2 d-flex flex-column align-items-center justify-content-center">
                                    <ion-icon size="large" name="cloud-upload-outline"></ion-icon>
                                    <div class="dropZoneContainer d-flex justify-content-center align-items-center flex-column p-4" 
                                        style="position: absolute; padding-top: 50px; left: 0; right: 0; top: 0; bottom: 0;"  >
                                            <label class="button-choose" style="margin-top: 45px;" for="dropZone">Datei hiereinziehen</label>
                                            <input style="position: absolute; left: 0em; right: 0; top: 0; bottom: 0; opacity: 0; width: 100%;" type="file"  v-on:change='uploadMultiFiles($event)' accept=".stl" class="FileUpload" id="dropZone" multiple></input>
                                    </div>
                            </div>
                        </div>
    
                        <div class="row mt-3">
                            <!-- To Cart button -->
                            <div class="offset-4 col-4 pt-4 d-flex justify-content-end">
                                <button
                                        type="button"
                                        class="btn btn-lg btn-primary"
                                        v-on:click="() => {toCart = true;}"
                                        :disabled="!products || products.length < 1 "> Zur Kasse

                                </button>
                            </div>
                        </div>
                    </div>

                </template>

                <template v-else>
                    <!-- Initialisieren der Basis der zweiten Seite (Warenkorb / Checkout) -->
                    <template v-if="!orderedSuccess">
                        <div class="row mt-4">
                            <div class="col-12">
                                <!-- Tabelle mit den vorher hochgeladenen Dateien und ausgewählten Optionen-->
                                <table class="table table-striped caption-top" style="top:0; right:0;">
                                    <thead class="table-dark">
                                        <!-- Obere Zeile der Tabelle -->
                                      <tr>
                                        <th scope="col">#</th>
                                        <th>Produkt</th>
                                        <th>Volumen</th>
                                        <th>Größe (BxHxT)</th>
                                        <th>Nachbearbeitung</th>
                                        <th>Material</th>
                                        <th>Anzahl</th>
                                        <th>Einzelpreis</th>
                                        <th>Gesamtpreis</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Untere Zeilen der Tabelle -->
                                        <tr v-for="(product, idx) of products">
                                            <td>{{idx + 1}}</td>
                                            <td>{{product.file_name}}</td>
                                            <td>{{product.volumen}} cm3</td>
                                            <td>{{product.xsize}} x {{product.ysize}} x {{product.zsize}} mm</td>
                                            <td>{{product.post_processing_list.length > 0 && product.post_process ? product.post_processing_list.find(item => item.value == product.post_process).name : '-'}}</td>
                                            <td>{{getMaterialName(product.material)}}</td>
                                            <td>{{product.menge}}</td>
                                            <td>{{product.preis.toFixed(2)}} €</td>
                                            <td>{{(product.preis * product.menge).toFixed(2)}} €</td>
                                        </tr>
                                    </tbody>
                                    <tfoot class="table-dark">
                                        <!-- Anzeige des Gesamtpreises unter der Tabelle -->
                                        <tr>
                                            <td colspan="8">Total</td>
                                            <td>{{gesamtpreis.toFixed(2)}} €</td>
                                        </tr>
                                    </tfoot>
                                  </table>
                            </div>
                            <div class="col-12">
                                <form action="/action_page.php">

                                  <div class="row">
                                    <div class="offset-3 col-6">
                                      <h3>Rechnungsadresse</h3>
                                      <label for="fname"><i class="fa fa-user"></i> Vorname</label>
                                      <input type="text" id="fname" name="firstname"  v-model="customer.vorname" placeholder="Vorname">
                                      <label for="name"><i class="fa fa-envelope"></i> Name</label>
                                      <input type="text" id="name" name="name"  v-model="customer.name" placeholder="Name">



                                      <div class="row">
                                        <div class="col-6">
                                            <label for="adr"><i class="fa fa-address-card-o"></i> Addresse</label>
                                            <input type="text" id="adr"  v-model="customer.address" name="address" placeholder="">
                                        </div>
                                        <div class="col-6">
                                            <label for="city"><i class="fa fa-institution"></i> Ort</label>
                                            <input type="text" id="city"  v-model="customer.city" name="city" placeholder="">
                                        </div>
                                        <div class="col-6">
                                          <label for="address_zusatz">Adresszusatz (c/o..)</label>
                                          <input type="text" id="address_zusatz" name="zip"  v-model="customer.address_2" placeholder="">
                                        </div>
                                        <div class="col-50">
                                            <label for="zip">Postleitzahl</label>
                                            <input type="text" id="zip" name="zip"  v-model="customer.zip" placeholder="10001">
                                          </div>
                                      </div>
                                    </div>

                                    <div class="offset-3 col-6">
                                      <h3>Persönliche Informationen</h3>
                                      <!--
                                      <div class="icon-container">
                                        <i class="fa fa-cc-visa" style="color:navy;"></i>
                                        <i class="fa fa-cc-amex" style="color:blue;"></i>
                                        <i class="fa fa-cc-mastercard" style="color:red;"></i>
                                        <i class="fa fa-cc-discover" style="color:orange;"></i>
                                      </div>
                                      -->
                                        <label for="cname">Email</label>
                                        <input type="text" id="email" name="email" v-model="customer.email" placeholder="hans.meier@example.com">
                                        <div class="d-flex align-items-center">
                                            <input type="checkbox" class="" id="TQ-Mitarbeiter" name="TQ_Mitarbeiter"  v-model="customer.tq_mitarbeiter">
                                            <label for="TQ-Mitarbeiter" class="ml-2 mt-2">TQ-Mitarbeiter</label>
                                        </div>
                                        <label for="ccnum">Unternehmen</label>
                                        <input type="text" id="ccnum" name="cardnumber"  v-model="customer.unternehemn" placeholder="1111-2222-3333-4444">
                                        <label for="expmonth">Telefonnummer</label>
                                        <input type="text" id="expmonth" name="expmonth"  v-model="customer.tel" placeholder="+49 175 87346346">

                                      <div class="row">
                                        <div class="col-6">
                                          <label for="expyear">Weitere Anmerkungen</label>
                                          <input type="text" id="expyear" name="expyear"  v-model="customer.note" placeholder="Wichtig ist auch...">
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </form>
                            </div>

                            
                            <!-- -->
                            <div class="col-12">
                                <div class="row mt-3">
                                    <div class="offset-4 col-4 pt-4 d-flex justify-content-end">
                                        <button type="button"
                                                class="btn btn-success"
                                                id="btn-order-now" v-on:click="doOrder()">
                                            Jetzt bestellen
                                        </button>
                                    </div>
                                </div>
                            </div>
                       <!-- -->
                    </template>
                    
                    <!--Initialisieren der Basis der dritten Seite (Danke) -->
                    <template v-else>
                        <div class="row mt-3">
                            <div class="offset-1 col-10 pt-4 d-flex justify-content-end">
                                <h3>Danke  für die Bestellung</h3>
                            </div>
                        </div>
                    </template>
                </template>

            </div>
            

    <!-- Javascript-Funktionalität -->
        <script>
            // <!-- Neues Vue-Element -->
            const ProductPage = new Vue({
                el: '#app',
                // <!-- Funktionalität des 3D-Modell-Loaders -->
                created(){
                    this.getMaterials();
                    const __this = this;
                    this.stl_viewer = new StlViewer( document.createElement('div'), 
                    {
                        models:[],
                        model_loaded_callback(model_id){
                            __this.after_model_load_callback(model_id);
                        },
                        loading_progress_callback(load_status, load_session){
                            __this.loadingModels = true;

                        },
                        all_loaded_callback() {
                            __this.loadingModels = false;
                            setTimeout(() => {
                                __this.stl_viewer.models.forEach(model => {
                                    const container_id = 'model_view_'+model.id;
                                    new StlViewer( 
                                        document.getElementById(container_id), 
                                        {
                                            models: [{id: 1, local_file: model.local_file}], 
                                            canvas_width: 200, 
                                            canvas_height: 200,
                                            model_loaded_callback: (model_id) => {
                                                document.getElementById(container_id).classList.remove('loading-model');
                                            }
                                        })
                                    //content.style.background = 'red';
                                })
                            }, 100)
                        }
                        
                    });
                },
                // <!-- Berechnung der Variablen -->
                data: {
                    orderedSuccess: false,
                    toCart: false,
                    loadingModels: false,
                    orderSent: false,
                    materials: [],
                    products: [],
                    customer: {
 }
                },
                computed: {
                    gesamtpreis: function() {
                        this.total_price = this.products.reduce((acc, curr) => acc + curr.menge*curr.preis, 0);
                        return this.total_price;
                    }
                },
                // <!-- Funktionalitäten der Knöpfe. Entfernen, Kopieren -->
                methods: {
                    removeProduct(index){
                        this.products.splice(index, 1);
                    },
                    cloneProduct(product){
                        const cloned_product = JSON.parse(JSON.stringify(product));

                        const container_id = 'model_view_'+ cloned_product.model_id + '_copy_after_'+this.products.length;
                        const container = this.create_model_container(container_id);
                        cloned_product._3dModel = container.outerHTML;

                        this.products.push(cloned_product);

                        setTimeout(() => {
                            const model_file = this.base_64_to_file(cloned_product.model_file, cloned_product.file_name);
                            const stl_view = new StlViewer( 
                                document.getElementById(container_id), 
                                {
                                    models: [{local_file: model_file}], 
                                    canvas_width: 200, 
                                    canvas_height: 200,
                                    all_loaded_callback: () => {
                                        document.getElementById(container_id).classList.remove('loading-model');
                                    }
                                },
                                )
                        }, 100)

                    },
                     // <!-- Multiupload-Funktion -->
                    uploadMultiFiles(e) {
                        let idx = 0;
                        for(file of e.target.files) {
                            this.stl_viewer.add_model({id: idx, local_file: file});
                            idx = idx + 1;
                        }
                    },

               //      <!-- Material -->
                    getMaterialName(id) {
                        if(this.materials && this.materials.length < 1) {
                            return "-";
                        }
                        return this.materials.find(element => element.value == id).name;
                    },

                   //  <!-- FireonMaterialChange: Bei Änderung des Materials sollen Werte angepasst werden -->
                    onMaterialChange(itemIndex, e){
                        this.getPostProcessing(e.target.value, itemIndex);
                        price = parseFloat(e.target[e.target.selectedIndex].getAttribute('data-price').replace(',', '.'))
                        product = this.products[itemIndex];
                        product.material = e.target.value;
                        product.material_name = this.getMaterialName(e.target.value);
                        product.preis = product.volumen * price;
                    },
                    // <!-- Nachbearbeitungen festlegen -->
                    onPostProcessChange(itemIndex, e){
                        this.products[itemIndex].post_process = e.target.value;
                        this.products[itemIndex].post_process_name = this.products[itemIndex].post_processing_list.find(item => item.value ==  e.target.value).name;
                    },
                    // <!-- Materialien aus DB ziehen -->
                    getMaterials(){
                        axios.get('http://localhost:3300?request=get_materials').then( response => {
                            this.materials = response.data;
                        })
                    }, 
                    // <!-- Nachbearbeitungen aus DB ziehen -->
                    getPostProcessing(material_id, product_idx){
                        axios.get('http://localhost:3300?request=get_post_processing&material_id='+material_id).then( response => {
                            this.products[product_idx].post_processing_list = response.data;
                        })
                    }, 
                     //<!-- Ordnung in DB setzen -->
                    doOrder(){
                        if (!this.customer.name){
                            alert("Bitte Name eingeben");
                        }
                        else if (!this.customer.city) {
                            alert("Bitte Ort eingeben");

                        }
                        else if (!this.customer.vorname) {
                            alert("Bitte Vorname eingeben");
                        }
                        else if (!this.customer.zip) {
                            alert("Bitte PLZ eingeben");
                        }
                        else if (!this.customer.email) {
                            alert("Bitte Emailadresse eingeben");
                        }
                       
                        else {
                            body = {
                                request: 'set_order',
                                data: {
                                    customer: this.customer,
                                    warencorb: this.products,
                                    total_price: this.gesamtpreis
                                }
                            }
                            axios.post('http://localhost:3300', body).then(res => {
                                if(response.data === 'ok') {
                                this.orderedSuccess = true;
                            }
                        })
                    }
                    },

                    // define function after model is loaded
                    after_model_load_callback(model_id) {
                        const __this = this;
                        const model = __this.stl_viewer.models.find(model => model.id == model_id);
                        const container = this.create_model_container('model_view_'+model_id)
                        const file_name = this.stl_viewer.get_model_info(model_id).name
                        let reader = new FileReader();
                        reader.readAsDataURL(model.local_file);
                        reader.onload = () => {
                            let base_64 = reader.result;
                            __this.products.push({
                                model_id: model_id,
                                _3dModel: container.outerHTML,
                                model_file: base_64,
                                file_type: file_name.split('.').pop(),
                                file_name: __this.stl_viewer.get_model_info(model_id).name,
                                volumen: Math.round(__this.stl_viewer.get_model_info(model_id).volume * 0.1) / 100,
                                xsize: Math.round(__this.stl_viewer.get_model_mesh(model_id).geometry.maxx * 10) / 100 * 2,
                                ysize: Math.round(__this.stl_viewer.get_model_mesh(model_id).geometry.maxy * 10) / 100 * 2,
                                zsize: Math.round(__this.stl_viewer.get_model_mesh(model_id).geometry.maxz * 10) / 100 * 2,
                                menge: 1,
                                preis: 0,
                                post_processing_list: []
                            });
                        };
                    },

                    create_model_container(container_id) {
                        const container = document.createElement('div')
                        container.setAttribute('id', container_id)
                        container.classList.add('model_3d_view')
                        container.classList.add('loading-model')
                        return container;
                    },

                    base_64_to_file(base_64, file_name){
                        // convert base64 to raw binary data held in a string
                        // doesn't handle URLEncoded DataURIs - see SO answer #6850276 for code that does this
                        var byteString = atob(base_64.split(',')[1]);
                        // separate out the mime component
                        var mimeString = base_64.split(',')[0].split(':')[1].split(';')[0];
                        // write the bytes of the string to an ArrayBuffer
                        var ab = new ArrayBuffer(byteString.length);
                        var dw = new DataView(ab);
                        for(var i = 0; i < byteString.length; i++) {
                            dw.setUint8(i, byteString.charCodeAt(i));
                        }
                        // write the ArrayBuffer to a blob, and you're done
                        blob = new Blob([ab], {type: mimeString})
                        return  new File([blob], file_name);
                    }

                }
         
            })
        </script>
         
    </body>
</html>
